/*setting whole thing to be centered on page*/

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: top;
}


/* setting class selector for each section type*/
.timeplace {
    font-size: 10px;
    color: grey;
}

.jtitle{
    font-size: 13.5px;
}

.pinfo{
    font-size: 10px;
    text-align: center;
}

.sectionh{
    font-weight: 900;
    font-size: 18px;
}

.bulletp{
    font-size: 12px;
}

